.App {
    text-align: center;
    background-color: #1c1c1c;
}

.main-form {
	width: 18rem;
	padding: 0;
}

.bg {
    height: 100vh;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top {
    color: white;
    background-color: #1c1c1c;
    margin: 0;
}

.login {
    padding: 10rem 0;
}
