.App {
  text-align: center;
  color: #1c1c1c;
  background-color: #1c1c1c; }

.bg {
  height: 100vh;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  background-image: url("/bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.top {
  padding: 2rem 0;
  font-family: 'Girassol';
  font-size: 4rem;
  color: #cfcfe2;
  background-color: #1c1c1c;
  margin: 0;
  border-bottom: 0.75rem #303030 solid; }

.login {
  padding: 10rem 0; }
  .login .card {
    background-color: #cfcfe2;
    font-family: 'Courier Prime', sans-serif;
    width: 18rem;
    padding: 0;
    border: 0; }
    .login .card input:focus, .login .card button:focus {
      outline: 0px;
      -webkit-appearance: none;
      box-shadow: none; }
    .login .card .card-header {
      margin: 0; }
      .login .card .card-header .btn {
        width: 100%;
        padding: 1.5rem;
        color: #cfcfe2;
        font-weight: 700; }
      .login .card .card-header .col {
        padding: 0; }
    .login .card .btn-group {
      padding: 0;
      background-color: #1c1c1c; }
    .login .card .form-control {
      border-color: #cfcfe2;
      background-color: #e8e8f1; }
    .login .card .form-submit {
      color: #cfcfe2;
      background-color: #303030;
      margin-top: 1.5rem;
      padding: 0.5rem 1.5rem; }

@media (min-width: 0px) {
  .bg {
    height: 667px;
    background-size: 1000px 667px; } }

@media (min-width: 760px) {
  .bg {
    height: 867px;
    background-size: 1300px 867px; } }

@media (min-width: 1600px) {
  .bg {
    height: 1067px;
    background-size: 1600px 1067px; } }
